<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须与 Mapper 接口的全类名一致 -->
<mapper namespace="org.rail.userservice.mapper.UserMapper">
    <!-- 查询用户：根据用户名/邮箱/手机号查询 -->
    <select id="findByUsernameOrMailOrPhone" resultType="org.rail.userservice.model.entity.User">
        SELECT * FROM `user`
        WHERE username = #{usernameOrMailOrPhone}
            OR email = #{usernameOrMailOrPhone}
            OR phone = #{usernameOrMailOrPhone}
    </select>
    <update id="update">
        UPDATE `user`
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="postCode != null">post_code = #{postCode},</if>
            <if test="address != null">address = #{address},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </trim>
        WHERE id = #{id}
    </update>
</mapper>