<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rail.ticketservice.mapper.TrainStopStationMapper">

    <select id="getStopInfoByQueryDTO" resultType="org.rail.ticketservice.pojo.dto.StopInfoDTO"
            parameterType="org.rail.ticketservice.pojo.dto.PlannedTicketQueryDTO">
        SELECT
            s_start.name AS departure,
            s_end.name AS arrival,
            s_start.code AS departureCode,
            s_end.code AS arrivalCode,
            s_start.id AS departureStationId,
            s_end.id AS arrivalStationId,
            tss_a.departure_time AS departureTime,
            tss_b.arrival_time AS arrivalTime,
            tss_a.sequence AS departureSequence,
            tss_b.sequence AS arrivalSequence
        FROM train_stop_station tss_a
        INNER JOIN train_stop_station tss_b
            ON tss_a.train_id = tss_b.train_id AND tss_a.sequence &lt; tss_b.sequence
        INNER JOIN station s_start
            ON tss_a.station_id = s_start.id
        INNER JOIN station s_end
            ON tss_b.station_id = s_end.id
        WHERE
            tss_a.train_id = #{trainId}
            AND s_start.code = #{departureCode}
            AND s_end.code = #{arrivalCode}
    </select>
</mapper>