<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.rail.ticketservice.mapper.SeatMapper">

    <update id="batchUpdateSeatStatus"
            parameterType="java.util.List">
        UPDATE seat s
        INNER JOIN train_seat_class tsc
            ON s.train_seat_class_id = tsc.id
        INNER JOIN seat_class sc
            ON tsc.seat_class_id = sc.id
        SET s.status = CASE
            <foreach collection="list" item="detail" separator="">
                WHEN tsc.train_id = #{detail.trainId}
                    AND sc.type = #{detail.seatType}
                    AND tsc.carriage_number = #{detail.carriageNumber}
                    AND s.seat_no = #{detail.seatNo}
                THEN #{detail.status}
            </foreach>
        ELSE s.status  -- 不匹配条件的记录保持原状态
        END
        <where>
            <if test="list != null and list.size() > 0">
                (tsc.train_id, sc.type, tsc.carriage_number, s.seat_no) IN
                <foreach collection="list" item="detail" open="(" separator="," close=")">
                    (#{detail.trainId}, #{detail.seatType}, #{detail.carriageNumber}, #{detail.seatNo})
                </foreach>
            </if>
        </where>
    </update>

    <select id="getSeatIdByQueryDTO" resultType="java.lang.Long"
            parameterType="java.util.List">
        SELECT
            s.id
        FROM seat s
        INNER JOIN train_seat_class tsc
            ON s.train_seat_class_id = tsc.id
        INNER JOIN seat_class sc
            ON tsc.seat_class_id = sc.id
        WHERE
            (tsc.train_id, sc.type, tsc.carriage_number, s.seat_no) IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                (
                    #{item.trainId},
                    #{item.seatType},
                    #{item.carriageNumber},
                    #{item.seatNo}
                )
            </foreach>
    </select>
</mapper>